@model AbendLog.BusinessAccess.Model.PermanentFixData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAbend.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Team").select2();
        $("#divLoading").hide();
        $("#EndDate").removeClass("text - box single - line").addClass("form-control text - box single - line");
        $("#StartDate").removeClass("text - box single - line").addClass("form-control text - box single - line");
        $("#btnLeadServiceSubmit").click(function () {
            var errorMsg = '';

            if ($("#IncidentNumber").val().trim() == '') {
                errorMsg = "Please enter the Incident Number\n";
            }
            if ($("#RCA").val().trim() == '') {
                errorMsg += "Please enter the RCA\n";
            }
            if ($("#TemporarilyResolution").val().trim() == '') {
                errorMsg += "Please enter the TemporarilyResolution\n";
            }
            if ($("#ProposedPermanentFix").val().trim() == '') {
                errorMsg += "Please enter the ProposedPermanentFix\n";
            }
            if ($("#ComponentFixed").val().trim() == '') {
                errorMsg += "Please enter the ComponentFixed\n";
            }
            if ($("#FixStatus").val().trim() == '') {
                errorMsg += "Please enter the FixStatus\n";
            }
            if ($("#StartDate").val().trim() == '') {
                errorMsg += "Please enter the StartDate\n";
            }
            if ($("#EndDate").val().trim() == '') {
                errorMsg += "Please enter the EndDate\n";
            }
            if ($("#Comments").val().trim() == '') {
                errorMsg += "Please enter the Comments\n";
            }
            if ($("#Resources").val().trim() == '') {
                errorMsg += "Please enter the Resources\n";
            }
            if ($("#Reviewer").val().trim() == '') {
                errorMsg += "Please enter the Reviewer\n";
            }
            if ($("#Issues").val().trim() == '') {
                errorMsg += "Please enter the Issues\n";
            }
            if ($("#Attachments").val().trim() == '') {
                errorMsg += "Please enter the Attachments\n";
            }
            if ($("#ApprovalForTheProposal").val().trim() == '') {
                errorMsg += "Please enter the ApprovalForTheProposal\n";
            }

            if ($("#ApprovalForTheProposal").val().trim() == '') {
                $("#ApprovalForTheProposal").focus();
            }
            if ($("#Attachments").val().trim() == '') {
                $("#Attachments").focus();
            }
            if ($("#Issues").val().trim() == '') {
                $("#Issues").focus();
            }
            if ($("#Reviewer").val().trim() == '') {
                $("#Reviewer").focus();
            }
            if ($("#Resources").val().trim() == '') {
                $("#Resources").focus();
            }
            if ($("#Comments").val().trim() == '') {
                $("#Comments").focus();
            }
            if ($("#EndDate").val().trim() == '') {
                $("#EndDate").focus();
            }
            if ($("#StartDate").val().trim() == '') {
                $("#StartDate").focus();
            }
            if ($("#FixStatus").val().trim() == '') {
                $("#FixStatus").focus();
            }
            if ($("#ComponentFixed").val().trim() == '') {
                $("#ComponentFixed").focus();
            }
            if ($("#ProposedPermanentFix").val().trim() == '') {
                $("#ProposedPermanentFix").focus();
            }
            if ($("#TemporarilyResolution").val().trim() == '') {
                $("#TemporarilyResolution").focus();
            }
            if ($("#RCA").val().trim() == '') {
                $("#RCA").focus();
            }
            if ($("#IncidentNumber").val().trim() == '') {
                $("#IncidentNumber").focus();
            }
            if (errorMsg != '') {
                alert(errorMsg);
                return false;
            }
            else {
                return true;
            }

        })
    });

</script>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<br />
@using (Html.BeginForm("Create", "PermanentFix", FormMethod.Post, new { @id = "createPermanentFix" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Create Permanent Fixes</div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Incident Number<font color="red">*</font></label>
                    </div>

                    <div class="form-group col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.IncidentNumber, null, new { @class = "form-control", @maxlength = "30", @placeholder = "Enter Incident Number here" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">RCA<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.RCA, null, new { @class = "form-control", @maxlength = "10000", @placeholder = "Enter RCA here" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Temporarily Resolution<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.TemporarilyResolution, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter TemporarilyResolution here" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">ProposedPermanentFix<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.ProposedPermanentFix, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter ProposedPermanentFix here" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Component Fixed<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.ComponentFixed, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter ComponentFixed here" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Fix Status<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.FixStatus, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter FixStatus here" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Start Date<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.EditorFor(m => m.StartDate, null, new { @class = "form-control datepicker" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">End Date<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.EditorFor(m => m.EndDate, null, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Comments<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.Comments, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter Comments here" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Resources<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.Resources, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter Resources here" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Reviewer<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.Reviewer, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter Reviewer here" })
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Issues<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.Issues, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter Issues here" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">Team<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        <select class="form-control" id="Team" name="Team" style="width:118px">
                            <option value="PMS">PMS</option>
                            <option value="Exceed">Exceed</option>
                        </select>
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <label for="City">ApprovalForTheProposal<font color="red">*</font></label>
                    </div>
                    <div class="form-group clockpicker col-md-offset col-md-4">
                        @Html.TextBoxFor(m => m.ApprovalForTheProposal, null, new { @class = "form-control", @maxlength = "1000", @placeholder = "Enter ApprovalForTheProposal here" })
                    </div>
                </div>

                <div class="row">
                    <div style="text-align:center!important;" id="divServiceActionPanel" class="form-group col-md-offset col-md-10">
                        <input type="submit" value="Create" id="btnLeadServiceSubmit" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
