<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Abend Log ASP AMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {

            $("#divLoading").hide();

            $(".progressIcon").click(function () {
                $("#divLoading").show();
            });
        });

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("moveToTopBtn").style.display = "block";
            } else {
                document.getElementById("moveToTopBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        $("#moveToTopBtn").click(function () {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">

                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")' style="color:white !important;" class="navbar-brand"><strong>Abend Log ASP AMS</strong></a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li><a class="blocking" style="cursor:pointer!important;color:white !important;" onclick="document.getElementById('id02').style.display = 'none';document.getElementById('id01').style.display='block'"><span style="color:white!important;" class="glyphicon glyphicon-user"></span>   Sign Up</a></li>
                    <li><a class="blocking" style="cursor:pointer!important;color:white !important;" onclick="document.getElementById('id01').style.display = 'none';document.getElementById('id02').style.display='block'"><span style="color:white!important;" class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Abend Log ASP AMS</p>
        </footer>
    </div>

    <button id="moveToTopBtn" title="Go to top">Top</button>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;top: 0px; width: 100%; height: 100%;
                                    background-color: #E6E6E6; z-index: 30001;opacity: .8; filter: alpha(opacity=70);display:none">
        <table style="border: solid 0px #e8eef4;position: absolute; top: 40%; left: 45%; color: White;">
            <tr style="border: solid 0px #e8eef4;">
                <td style="border: solid 0px #e8eef4;">
                    <img src="@Url.Content("~/Content/Images/loading.gif")">
                </td>
            </tr>
        </table>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
