@model AbendLog.Models.AbendLog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAbend.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#divLoading").hide();
    });


    
</script>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Details</h2>

<div>
    <h4>AbendLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StepName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbendCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbendCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbendDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbendDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbendDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbendDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbendTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbendTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnCallAssociate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnCallAssociate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeSpend)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeSpend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RCA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RCA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.OpenedBy)
        </dt>*@
        @*<dd>
            @Html.DisplayFor(model => model.OpenedBy)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.ResolvedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResolvedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallFromEnsono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallFromEnsono)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Escalation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escalation)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.LevelTimeForEscalation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevelTimeForEscalation)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.EscalatedTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscalatedTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EscalatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscalatedBy)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.EscalatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscalatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SLABreach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SLABreach)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.SLABreachComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SLABreachComments)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List">Back to List</a>
</div>
